<!----

Bannered by technibabble

---->

<div class="container">
<!---- HEADER --
  image is fixed height and crops to fit; 1140x200 is recommended ---->
  <div class="card bg-faded">
    <div class="card-header" style="height:200px; background:url(http://via.placeholder.com/1140x200) center;"></div>
      <div class="card-block">
<!---- TITLE ---->
      <h1 class="text-uppercase text-muted text-center">Name - Age - Descriptor</h1>
      <hr class="col-sm-6 col-10">
<!---- SIDE IMAGE ---->
      <div class="col-2 float-left d-none d-lg-block"><img class="img-thumbnail rounded-circle" src="http://via.placeholder.com/200x200" /></div>
<!---- LINKS ---->
      <div class="card card-warning col-lg-2 col-sm-4 float-sm-right p-0 ml-sm-3 mb-2">
        <h1 class="card-header text-center"><i class="fa fa-link fa-fw"></i> Links</h1>
        <div class="list-group list-group-flush nav">
          <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fa fa-link fa-fw"></i> Link</a>
          <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fa fa-link fa-fw"></i> Link</a>
          <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fa fa-link fa-fw"></i> Link</a>
          <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fa fa-link fa-fw"></i> Link</a>
          <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fa fa-link fa-fw"></i> Link</a>
        </div>
      </div>
<!---- BODY TEXT ---->
      <div class="mb-5 text-justify">
        <p>Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, `and what is the use of a book,' thought Alice `without pictures or conversation?'</p>

        <p>So she was considering in her own mind (as well as she could, for the hot day made her feel very sleepy and stupid), whether the pleasure of making a daisy-chain would be worth the trouble of getting up and picking the daisies, when suddenly a White Rabbit with pink eyes ran close by her.</p>

        <p>There was nothing so VERY remarkable in that; nor did Alice think it so VERY much out of the way to hear the Rabbit say to itself, `Oh dear! Oh dear! I shall be late!' (when she thought it over afterwards, it occurred to her that she ought to have wondered at this, but at the time it all seemed quite natural); but when the Rabbit actually TOOK A WATCH OUT OF ITS WAISTCOAT- POCKET, and looked at it, and then hurried on, Alice started to her feet, for it flashed across her mind that she had never before seen a rabbit with either a waistcoat-pocket, or a watch to take out of it, and burning with curiosity, she ran across the field after it, and fortunately was just in time to see it pop down a large rabbit-hole under the hedge.</p>

        <p>In another moment down went Alice after it, never once considering how in the world she was to get out again.</p>

        <p>The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself falling down a very deep well.</p>

        <p>Either the well was very deep, or she fell very slowly, for she had plenty of time as she went down to look about her and to wonder what was going to happen next. First, she tried to look down and make out what she was coming to, but it was too dark to see anything; then she looked at the sides of the well, and noticed that they were filled with cupboards and book-shelves; here and there she saw maps and pictures hung upon pegs. She took down a jar from one of the shelves as she passed; it was labelled `ORANGE MARMALADE', but to her great disappointment it was empty: she did not like to drop the jar for fear of killing somebody, so managed to put it into one of the cupboards as she fell past it.</p>
      </div>
<!---- CHARACTERS ---->
      <h4 class="text-uppercase text-muted text-center">Characters</h4>
      <hr class="col-sm-6 col-10">
      <div class="row card-block mt-3 p-2 text-center">
<!-- CHAR 1 -->
        <div class="col-md-3 col-6 mb-2">
          <a href="#"><img class="img-thumbnail rounded-circle" src="http://via.placeholder.com/200x200" width="200"></a>
        </div>
<!-- CHAR 2 -->
        <div class="col-md-3 col-6 mb-2">
          <a href="#"><img class="img-thumbnail rounded-circle" src="http://via.placeholder.com/200x200" width="200"></a>
        </div>
<!-- CHAR 3 -->
        <div class="col-md-3 col-6 mb-2">
          <a href="#"><img class="img-thumbnail rounded-circle" src="http://via.placeholder.com/200x200" width="200"></a>
        </div>
<!-- CHAR 4 -->
        <div class="col-md-3 col-6 mb-2">
          <a href="#"><img class="img-thumbnail rounded-circle" src="http://via.placeholder.com/200x200" width="200"></a>
        </div>
      </div>
      <a href="#" class="btn btn-warning float-right text-uppercase">More <i class="fa fa-chevron-right" /></a>
    </div>
<!---- FOOTER --
  image is fixed height and crops to fit; 1140x50 is recommended ---->
    <div class="card-footer p-2" style="height:50px; background:url(https://i.imgur.com/NkKbP9K.jpg) center; background-repeat:repeat">
<!---- CREDIT - DO NOT REMOVE ---->
      <div class="my-auto text-right"><a href="/technibabble" data-placement="left" title="code|techni" class="btn btn-warning d-inline-flex p-2 rounded-circle tooltipster"><i class="fal fa-code m-auto" /></a></div>
    </div>
  </div>
</div>