<!----

License by technibabble

---->

<div class="container">
  <div class="col-lg-8 mx-auto">
    <div class="card rounded-0 mb-3">
<!---- TITLE ---->
      <h1 class="display-4 card-header d-flex justify-content-between text-muted text-uppercase">
        <i class="fal fa-user"></i> Title
      </h1>
      <div class="card-block">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="text-center">
<!---- IMAGE ---->
              <img class="img-thumbnail rounded-0" src="https://via.placeholder.com/200x200" />
            </div>
          </div>
          <div class="col-md-8 mb-3">
            <div class="card-group">
              <div class="card rounded-0">
<!---- STATS ---->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-signature fa-lg fa-fw"></i> Name</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-transgender fa-lg fa-fw"></i> Gender</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-male fa-lg fa-fw"></i> Species</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-clock fa-lg fa-fw"></i> Age</li>
                </ul>
              </div>
              <div class="card rounded-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-ruler fa-lg fa-fw"></i> Height</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-weight fa-lg fa-fw"></i> Weight</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-heart fa-lg fa-fw"></i> Orientation</li>
                  <li class="list-group-item d-flex justify-content-between">
                    <i class="far fa-birthday-cake fa-lg fa-fw"></i> Birthday</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
<!---- TEXT BOX ---->
        <div class="card rounded-0">
          <div class="card-block text-justify">
            It was the White Rabbit, trotting slowly back again, and looking anxiously about as it went, as if it had lost something; and she heard it muttering to itself `The Duchess! The Duchess! Oh my dear paws! Oh my fur and whiskers! She'll get me executed, as sure as ferrets are ferrets! Where CAN I have dropped them, I wonder?' Alice guessed in a moment that it was looking for the fan and the pair of white kid gloves, and she very good-naturedly began hunting about for them, but they were nowhere to be seen--everything seemed to have changed since her swim in the pool, and the great hall, with the glass table and the little door, had vanished completely.
          </div>
        </div>
      </div>
<!---- PALETTE ---->
      <div class="row no-gutters">
        <div class="col-3">
          <div style="height:3rem; background-color:#6687ff"></div>
        </div>
        <div class="col-3">
          <div style="height:3rem; background-color:#60bbff"></div>
        </div>
        <div class="col-3">
          <div style="height:3rem; background-color:#60ffbb"></div>
        </div>
        <div class="col-3">
          <div style="height:3rem; background-color:#d8ff66"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---- CREDIT - DO NOT REMOVE ---->
<div class="float-right"><a href="/technibabble" title="code|techni" data-placement="left" class="btn btn-outline-primary d-inline-flex p-2 rounded-circle tooltipster"><i class="fal fa-code m-auto" /></a></div>