<!----

On Commission by technibabble

---->

<div class="container">
<!---- INTRO ---->
  <div class="card card-block bg-primary px-2 pb-2 mb-3">
    <h1 class="display-4 card-inverse text-center"><strong>Title</strong></h1>
    <h3 class="card-inverse text-center mb-2"><em>Subtitle</em></h3>
    <div class="card bg-faded">
      <div class="card-block text-justify">
        The King and Queen of Hearts were seated on their throne when they arrived, with a great crowd assembled about them--all sorts of little birds and beasts, as well as the whole pack of cards: the Knave was standing before them, in chains, with a soldier on each side to guard him; and near the King was the White Rabbit, with a trumpet in one hand, and a scroll of parchment in the other. In the very middle of the court was a table, with a large dish of tarts upon it: they looked so good, that it made Alice quite hungry to look at them--`I wish they'd get the trial done,' she thought, `and hand round the refreshments!' But there seemed to be no chance of this, so she began looking at everything about her, to pass away the time.
      </div>
    </div>
  </div>
<!---- STYLES --
  images will scale to fit width, square thumbnails work best
  large images are 164px wide, small images are 75px wide -->
  <div class="col-lg-11 mx-auto mb-3">
    <div class="card-deck mb-2">
  <!---- STYLE ONE ---->
      <div class="card card-outline-primary mb-2">
        <h3 class="card-header card-primary card-inverse text-center"><i class="fas fa-paint-brush"></i> Style One</h3>
        <div class="card-block">
          <div class="mb-1 text-center"><a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/164x164" height="174" width="174"></a></div>
          <div class="mb-2 text-center">
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
          </div>
          <ul style="list-style-type:square">
            <li><strong>Type A:</strong> $$$</li>
            <li><strong>Type B:</strong> $$$</li>
          </ul>
        </div>
      </div>
  <!---- STYLE TWO ---->
      <div class="card card-outline-primary mb-2">
        <h3 class="card-header card-primary card-inverse text-center"><i class="fas fa-pencil"></i> Style Two</h3>
        <div class="card-block">
          <div class="mb-1 text-center"><a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/164x164" height="174" width="174"></a></div>
          <div class="mb-2 text-center">
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
          </div>
          <ul style="list-style-type:square">
            <li><strong>Type A:</strong> $$$</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-11 mx-auto mb-3">
    <div class="card-deck mb-2">
  <!---- STYLE THREE ---->
      <div class="card card-outline-primary mb-2">
        <h3 class="card-header card-primary card-inverse text-center"><i class="fas fa-image"></i> Style Three</h3>
        <div class="card-block">
          <div class="mb-1 text-center"><a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/164x164" height="174" width="174"></a></div>
          <div class="mb-2 text-center">
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
          </div>
          <ul style="list-style-type:square">
            <li><strong>Type A:</strong> $$$</li>
            <li><strong>Type B:</strong> $$$</li>
          </ul>
        </div>
      </div>
  <!---- STYLE FOUR ---->
      <div class="card card-outline-primary mb-2">
        <h3 class="card-header card-primary card-inverse text-center"><i class="fas fa-camera"></i> Style Four</h3>
        <div class="card-block">
          <div class="mb-1 text-center"><a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/164x164" height="174" width="174"></a></div>
          <div class="mb-2 text-center">
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
            <a target="_blank" href="#"><img class="img-thumbnail" src="http://via.placeholder.com/75x75" height="85" width="85"></a>
          </div>
          <ul style="list-style-type:square">
            <li><strong>Type A:</strong> $$$</li>
            <li><strong>Type B:</strong> $$$</li>
            <li><strong>Type C:</strong> $$$</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!---- EXTRA NOTES ---->
  <div class="card card-inverse bg-primary col-lg-9 mx-auto mb-3">
    <div class="card-block">
      <h1 class="text-center">Prices for extra characters, backgrounds, etc.</h1>
    </div>
  </div>
<!---- TERMS ---->
  <div class="card bg-primary p-2 mb-3">
    <h1 class="card-inverse text-center">Terms</h1>
    <div class="card card-block bg-faded">
      <div class="row m-3">
        <div class="col-sm">
          <ul class="px-1" style="list-style-type:square">
            <li>Rule</li>
              <ul>
                <li>Sub-rule</li>
                <li>Sub-rule</li>
              </ul>
            <li>Rule</li>
            <li>Rule</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="px-1" style="list-style-type:square">
            <li>Rule</li>
            <li>Rule</li>
            <li>Rule</li>
            <li>Rule</li>
            <li>Rule</li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">Contact info here</strong>!</h3>
    </div>
  </div>
<!---- WAIT LIST --
  replace "far fa-star" with "fas fa-star" for filled stars -->
  <div class="card bg-primary p-2 mb-3">
    <h1 class="card-inverse text-center">Progress</h1>
    <div class="card card-block bg-faded">
      <div class="row">
  <!---- COLUMN 1 ---->
        <div class="col-sm">
          <table class="w-100 border-0">
            <tr>
              <td class="text-right py-1" style="width:30%;">@Unknown</td>
              <td class="py-1" style="width:70%;"><i class="fas fa-star"> <i class="fas fa-star"> <i class="fas fa-star"> <i class="fas fa-star"> <i class="fas fa-star "></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;">@Unknown</td>
              <td class="py-1" style="width:70%;"><i class="fas fa-star"> <i class="fas fa-star"> <i class="fas fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;">@Unknown</td>
              <td class="py-1" style="width:70%;"><i class="fas fa-star"> <i class="fas fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;"><em>[open]</em></td>
              <td class="py-1" style="width:70%;"><i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
          </table>
        </div>
  <!---- COLUMN 2 ---->
        <div class="col-sm">
          <table class="w-100 border-0">
            <tr>
              <td class="text-right py-1" style="width:30%;"><em>[open]</em></td>
              <td class="py-1" style="width:70%;"><i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;"><em>[open]</em></td>
              <td class="py-1" style="width:70%;"><i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;"><em>[open]</em></td>
              <td class="py-1" style="width:70%;"><i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
            <tr>
              <td class="text-right py-1" style="width:30%;"><em>[open]</em></td>
              <td class="py-1" style="width:70%;"><i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"> <i class="far fa-star"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!---- CREDIT - DO NOT REMOVE ---->
<div class="float-right"><a href="/technibabble" title="code|techni" data-placement="left" class="btn btn-outline-primary d-inline-flex p-2 rounded-circle tooltipster"><i class="fal fa-code m-auto" /></a></div>