<!----

Quest Log by technibabble

---->

<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-10">
      <ul class="nav nav-justified">
        <li class="nav-item">
          <a href="#info" data-toggle="tab" class="nav-link active btn btn-default mr-2 mb-2">
           Info
          </a>
        </li>
        <li class="nav-item">
          <a href="#quests" data-toggle="tab" class="nav-link btn btn-default mx-2 mb-2">
            Quests
          </a>
        </li>
        <li class="nav-item">
          <a href="#schedule" data-toggle="tab" class="nav-link btn btn-default ml-2 mb-2">
            Schedule
          </a>
        </li>
      </ul>
      <div class="card bg-faded mt-1 mb-3" style="height:35em; overflow:auto;">
        <div class="tab-content">
<!---- INFO TAB ---->
          <div id="info" class="tab-pane fade in active show">
            <div class="card-block">
              <div class="row">
                <div class="col-md-6 col-lg-4 flex-md-last">
<!--- CHARACTER NAME - MOBILE VIEW --->
                  <h1 class="display-4 text-center d-md-none">Name</h1>
                  <div class="text-center">
<!--- IMAGE --->
                    <img class="img-thumbnail mb-2" src="https://via.placeholder.com/200x200" />
                  </div>
                  <div class="card mb-3 mb-md-0">
<!--- STATS --->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item justify-content-between">
                        <span class="text-uppercase text-muted font-weight-bold">Stat</span> [info]</li>
                      <li class="list-group-item justify-content-between">
                        <span class="text-uppercase text-muted font-weight-bold">Stat</span> [info]</li>
                      <li class="list-group-item justify-content-between">
                        <span class="text-uppercase text-muted font-weight-bold">Stat</span> [info]</li>
                      <li class="list-group-item justify-content-between">
                        <span class="text-uppercase text-muted font-weight-bold">Stat</span> [info]</li>
                      <li class="list-group-item justify-content-between">
                        <span class="text-uppercase text-muted font-weight-bold">Stat</span> [info]</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-lg-8">
<!--- CHARACTER NAME - DESKTOP VIEW --->
                  <h1 class="display-4 ml-3 d-none d-md-block">Name</h1>
                  <hr class= "d-none d-md-block" />
<!--- BIO - BOX WILL SCROLL --->
                  <div class="text-justify" style="height:26.75em; overflow:auto;">
                    <div class="mx-3">
                      <p>Five and Seven said nothing, but looked at Two. Two began in a low voice, `Why the fact is, you see, Miss, this here ought to have been a RED rose-tree, and we put a white one in by mistake; and if the Queen was to find it out, we should all have our heads cut off, you know. So you see, Miss, we're doing our best, afore she comes, to--' At this moment Five, who had been anxiously looking across the garden, called out `The Queen! The Queen!' and the three gardeners instantly threw themselves flat upon their faces. There was a sound of many footsteps, and Alice looked round, eager to see the Queen.</p>

                      <p>First came ten soldiers carrying clubs; these were all shaped like the three gardeners, oblong and flat, with their hands and feet at the corners: next the ten courtiers; these were ornamented all over with diamonds, and walked two and two, as the soldiers did. After these came the royal children; there were ten of them, and the little dears came jumping merrily along hand in hand, in couples: they were all ornamented with hearts. Next came the guests, mostly Kings and Queens, and among them Alice recognised the White Rabbit: it was talking in a hurried nervous manner, smiling at everything that was said, and went by without noticing her. Then followed the Knave of Hearts, carrying the King's crown on a crimson velvet cushion; and, last of all this grand procession, came THE KING AND QUEEN OF HEARTS.</p>

                      <p>Alice was rather doubtful whether she ought not to lie down on her face like the three gardeners, but she could not remember ever having heard of such a rule at processions; `and besides, what would be the use of a procession,' thought she, `if people had all to lie down upon their faces, so that they couldn't see it?' So she stood still where she was, and waited.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!---- QUESTS TAB ---->
          <div id="quests" class="tab-pane fade">
            <div class="card-block">
<!--- CURRENT QUEST --->
              <div class="card">
                <a class="card-header h3" data-toggle="collapse" href="#quest-one">
                  Current Quest
                </a>
                <div class="card-block text-justify collapse show" id="quest-one">
                  Alice was not a bit hurt, and she jumped up on to her feet in a moment: she looked up, but it was all dark overhead; before her was another long passage, and the White Rabbit was still in sight, hurrying down it. There was not a moment to be lost: away went Alice like the wind, and was just in time to hear it say, as it turned a corner, `Oh my ears and whiskers, how late it's getting!' She was close behind it when she turned the corner, but the Rabbit was no longer to be seen: she found herself in a long, low hall, which was lit up by a row of lamps hanging from the roof.
                </div>
              </div>
<!--- COMPLETED QUEST --->
              <div class="card">
                <a class="card-header text-muted h3" data-toggle="collapse" href="#quest-two">
                  Completed Quest
                </a>
                <div class="card-block text-justify collapse" id="quest-two">
                  Down, down, down. There was nothing else to do, so Alice soon began talking again. `Dinah'll miss me very much to-night, I should think!' (Dinah was the cat.) `I hope they'll remember her saucer of milk at tea-time. Dinah my dear! I wish you were down here with me! There are no mice in the air, I'm afraid, but you might catch a bat, and that's very like a mouse, you know. But do cats eat bats, I wonder?' And here Alice began to get rather sleepy, and went on saying to herself, in a dreamy sort of way, `Do cats eat bats? Do cats eat bats?' and sometimes, `Do bats eat cats?' for, you see, as she couldn't answer either question, it didn't much matter which way she put it. She felt that she was dozing off, and had just begun to dream that she was walking hand in hand with Dinah, and saying to her very earnestly, `Now, Dinah, tell me the truth: did you ever eat a bat?' when suddenly, thump! thump! down she came upon a heap of sticks and dry leaves, and the fall was over.
                </div>
              </div>
<!--- FAILED QUEST --->
              <div class="card">
                <a class="card-header text-muted h3" data-toggle="collapse" href="#quest-three">
                  <s><em>Failed Quest</em></s>
                </a>
                <div class="card-block text-muted text-justify collapse" id="quest-three">
                  Presently she began again. `I wonder if I shall fall right THROUGH the earth! How funny it'll seem to come out among the people that walk with their heads downward! The Antipathies, I think--' (she was rather glad there WAS no one listening, this time, as it didn't sound at all the right word) `--but I shall have to ask them what the name of the country is, you know. Please, Ma'am, is this New Zealand or Australia?' (and she tried to curtsey as she spoke--fancy CURTSEYING as you're falling through the air! Do you think you could manage it?) `And what an ignorant little girl she'll think me for asking! No, it'll never do to ask: perhaps I shall see it written up somewhere.'
                </div>
              </div>
<!-- END SECTION -->
            </div>
          </div>
<!---- SCHEDULE TAB ---->
          <div id="schedule" class="tab-pane fade">
            <div class="card-block">
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" style="height:29.5em;">
                  <thead class="text-uppercase">
                    <tr>
<!--- WEEKDAYS --->
                      <th></th>
                      <th class="text-center">Sun</th>
                      <th class="text-center">Mon</th>
                      <th class="text-center">Tue</th>
                      <th class="text-center">Wed</th>
                      <th class="text-center">Thu</th>
                      <th class="text-center">Fri</th>
                      <th class="text-center">Sat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
<!--- MORNINGS --->
                      <td class="text-right align-middle"><b>Morning</b></td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                    </tr>
                    <tr>
<!--- AFTERNOONS --->
                      <td class="text-right align-middle"><b>Afternoon</b></td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                    </tr>
                    <tr>
<!--- EVENINGS --->
                      <td class="text-right align-middle"><b>Evening</b></td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                    </tr>
                    <tr>
<!--- NIGHTS --->
                      <td class="text-right align-middle"><b>Night</b></td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                      <td class="text-center align-middle">Location</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
<!-- END SECTION -->
        </div>
      </div>
    </div>
<!---- RELATED CHARACTERS LIST ---->
    <div class="col-md-3 col-lg-2 flex-md-first">
      <ul class="nav flex-column mt-md-5">
<!--- CURRENT CHARACTER --->
        <li class="nav-item">
          <a href="#" class="nav-link active btn btn-default mb-1 text-md-right">Name</a>
        </li>
<!--- OTHER CHARACTERS --->
        <li class="nav-item">
          <a href="/CHAR-NUMBER" class="nav-link btn btn-default mb-1 text-md-right">Name</a>
        </li>
        <li class="nav-item">
          <a href="/CHAR-NUMBER" class="nav-link btn btn-default mb-1 text-md-right">Name</a>
        </li>
        <li class="nav-item">
          <a href="/CHAR-NUMBER" class="nav-link btn btn-default mb-1 text-md-right">Name</a>
        </li>
        <li class="nav-item">
          <a href="/CHAR-NUMBER" class="nav-link btn btn-default mb-1 text-md-right">Name</a>
        </li>
      </ul>
    </div>
<!-- END SECTION -->
  </div>
</div>

<!---- CREDIT - DO NOT REMOVE ---->
<div class="float-right"><a href="/technibabble" title="code|techni" data-placement="left" class="btn btn-outline-primary d-inline-flex p-2 rounded-circle tooltipster"><i class="fal fa-code m-auto" /></a></div>