<!----

Quick View by technibabble

---->

<div class="container-fluid">
  <div class="row">
<!---- RIGHT COLUMN ---->
    <div class="col-md-4 col-lg-3 flex-md-last">
<!-- NAV -->
      <div class="card rounded-0 mb-3">
        <div class="card-block">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="#basic" data-toggle="tab" class="nav-link active d-flex justify-content-between">Basics<i class="fal fa-sliders-h fa-fw my-auto"></i></a>
            </li>
            <li class="nav-item">
              <a href="#info" data-toggle="tab" class="nav-link d-flex justify-content-between">Info<i class="fal fa-address-card fa-fw my-auto"></i></a>
            </li>
            <li class="nav-item">
              <a href="#friends" data-toggle="tab" class="nav-link d-flex justify-content-between">Friends<i class="fal fa-heartbeat fa-fw my-auto"></i></a>
            </li>
          </ul>
        </div>
      </div>
<!-- SIDE PICTURE - hidden on small screens -->
      <img class="img-thumbnail rounded-0 mb-3 d-none d-md-block" src="https://via.placeholder.com/500" />
    </div>
<!---- LEFT COLUMN ---->
    <div class="col-md-8 col-lg-9">
      <div class="tab-content">
<!---- BASIC ---->
        <div class="tab-pane fade in active show" id="basic">
          <div class="card rounded-0 mb-3">
            <div class="card-block">
<!-- ESSENTIALS -->
              <div class="row col-xl-10 mx-xl-auto mb-3">
                <div class="col-lg">
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Name</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Gender</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Species</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Age</span> [info]</div>
                  <hr class="d-lg-none my-1" />
                </div>
                <div class="col-lg">
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Height</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Weight</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Orientation</span> [info]</div>
                  <hr class="my-1" />
                  <div class="d-flex justify-content-between"><span class="text-uppercase text-muted font-weight-bold">Birthday</span> [info]</div>
                </div>
              </div>
<!-- SNIPPET -->
              <div class="text-justify">
                <p>Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, `and what is the use of a book,' thought Alice `without pictures or conversation?'</p>
              </div>
            </div>
          </div>
<!--- PALETTE --->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#6687ff;"></div>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#60bbff;"></div>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#60ffbb;"></div>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#d8ff66;"></div>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#ffb866;"></div>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-2">
              <div class="card rounded-0 mb-3 tooltipster" title="color" style="height:3rem; background-color:#ff70aa;"></div>
            </div>
          </div>
<!--- STATS - change "width:1%" to however full you want the bar --->
          <div class="card rounded-0 mb-3">
            <div class="card-block">
              <div class="row">
                <div class="col-lg">
<!-- STRENGTH -->
                  <p class="text-uppercase mb-0">STR</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
<!-- DEXTERITY -->
                  <p class="text-uppercase mb-0">DEX</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
<!-- CONSTITUTION -->
                  <p class="text-uppercase mb-0">CON</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
                </div>
                <div class="col-lg">
<!-- INTELLIGENCE -->
                  <p class="text-uppercase mb-0">INT</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
<!-- WISDOM -->
                  <p class="text-uppercase mb-0">WIS</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
<!-- CHARISMA -->
                  <p class="text-uppercase mb-0">CHA</p>
                  <div class="progress rounded-0 mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:1%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--- INFO --->
        <div class="tab-pane fade" id="info">
<!-- ABOUT -->
          <div class="card rounded-0 mb-3">
            <div class="card-block text-justify">
              <h3 class="text-muted text-uppercase d-flex justify-content-between mb-3">About <i class="fal fa-star fa-fw"></i></h3>
                Of course the first thing to do was to make a grand survey of the country she was going to travel through. `It's something very like learning geography,' thought Alice, as she stood on tiptoe in hopes of being able to see a little further. `Principal rivers--there ARE none. Principal mountains--I'm on the only one, but I don't think it's got any name. Principal towns--why, what ARE those creatures, making honey down there? They can't be bees--nobody ever saw bees a mile off, you know--' and for some time she stood silent, watching one of them that was bustling about among the flowers, poking its proboscis into them, `just as if it was a regular bee,' thought Alice.

                However, this was anything but a regular bee: in fact it was an elephant--as Alice soon found out, though the idea quite took her breath away at first. `And what enormous flowers they must be!' was her next idea. `Something like cottages with the roofs taken off, and stalks put to them--and what quantities of honey they must make! I think I'll go down and--no, I won't JUST yet, ' she went on, checking herself just as she was beginning to run down the hill, and trying to find some excuse for turning shy so suddenly. `It'll never do to go down among them without a good long branch to brush them away--and what fun it'll be when they ask me how I like my walk. I shall say-- "Oh, I like it well enough--"' (here came the favourite little toss of the head), `"only it was so dusty and hot, and the elephants did tease so!"
            </div>
          </div>
<!-- APPEARANCE -->
          <div class="card rounded-0 mb-3">
            <div class="card-block text-justify">
              <h3 class="text-muted text-uppercase d-flex justify-content-between mb-3">Appearance <i class="fal fa-user-circle fa-fw"></i></h3>
              <div class="text-center">
<!-- IMAGE -->
                <img src="https://via.placeholder.com/750x320" class="mb-3" />
              </div>
              <p>Soon her eye fell on a little glass box that was lying under the table: she opened it, and found in it a very small cake, on which the words `EAT ME' were beautifully marked in currants. `Well, I'll eat it,' said Alice, `and if it makes me grow larger, I can reach the key; and if it makes me grow smaller, I can creep under the door; so either way I'll get into the garden, and I don't care which happens!'</p>
            </div>
          </div>
        </div>
<!--- FRIENDS --->
        <div class="tab-pane fade" id="friends">
<!-- RIGHT-ALIGNED -->
          <div class="card rounded-0 mb-3">
            <div class="card-block text-justify">
              <div class="float-right ml-3">
                <a href="LINK"><img class="rounded-0 img-thumbnail tooltipster" style="width:125px;" src="https://via.placeholder.com/200" title="Name" /></a>
              </div>
              <p>`This must be the wood, she said thoughtfully to herself, `where things have no names. I wonder what'll become of MY name when I go in? I shouldn't like to lose it at all--because they'd have to give me another, and it would be almost certain to be an ugly one. But then the fun would be trying to find the creature that had got my old name! That's just like the advertisements, you know, when people lose dogs--"ANSWERS TO THE NAME OF `DASH:' HAD ON A BRASS COLLAR"--just fancy calling everything you met "Alice," till one of them answered! Only they wouldn't answer at all, if they were wise.'</p>
            </div>
          </div>
<!-- LEFT-ALIGNED -->
          <div class="card rounded-0 mb-3">
            <div class="card-block text-justify">
              <div class="float-left mr-3">
                <a href="LINK"><img class="rounded-0 img-thumbnail tooltipster" style="width:125px;" src="https://via.placeholder.com/200" title="Name" /></a>
              </div>
              <p>`I do believe,' said Alice at last, `that they live in the same house! I wonder I never thought of that before--But I can't stay there long. I'll just call and say "how d'you do?" and ask them the way out of the wood. If I could only get to the Eighth Square before it gets dark!' So she wandered on, talking to herself as she went, till, on turning a sharp corner, she came upon two fat little men, so suddenly that she could not help starting back, but in another moment she recovered herself, feeling sure that they must be</p>
            </div>
          </div>
<!-- END -->
        </div>
      </div>
    </div>
  </div>
</div>

<!---- CREDIT - DO NOT REMOVE ---->
<div class="float-right"><a href="/technibabble" title="code|techni" data-placement="left" class="btn btn-outline-primary d-inline-flex p-2 rounded-circle tooltipster"><i class="fal fa-code m-auto" /></a></div>